<!DOCTYPE html>
<html>
<head>
    <title></title>
    <#include "/header.html">
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
			<#if shiro.hasPermission("shop:nideshopbrand:save")>
            <a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			</#if>
			<#if shiro.hasPermission("shop:nideshopbrand:update")>
            <a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			</#if>
            <#if shiro.hasPermission("shop:nideshopbrand:delete")>
            <a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
            </#if>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-2 control-label">品牌名称</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="nideshopBrand.name" placeholder="品牌名称"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">品牌介绍</div>
                <div class="col-sm-10">
                    <textarea class="form-control" rows="3" v-model="nideshopBrand.simpleDesc" placeholder="品牌摘要说明"></textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">品牌起步价</div>
                <div class="col-sm-10">
                    <input type="number" class="form-control" v-model="nideshopBrand.floorPrice" size="5" placeholder="品牌起步价"/>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">首页配图：</label>
                <div class="col-sm-8">
                    <a class="btn btn-primary" id="uploadNewPicUrl"><i class="fa fa-plus"></i>&nbsp;上传配图</a>
                    <label>&nbsp;&nbsp;请保证图片符合以下条件：1、小于2M 2、JPG、JPEG、PNG格式。</label>
                </div>
            </div>

            <div class="form-group" v-show="nideshopBrand.newPicUrl">
                <label class="col-sm-3 control-label">当前首页配图：</label>
                <div class="col-sm-8">
                    <input type="hidden" v-model="nideshopBrand.newPicUrl" />
                    <img :src="nideshopBrand.newPicUrl" width="200px;" height="200px;"/>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">列表配图：</label>
                <div class="col-sm-8">
                    <a class="btn btn-primary" id="uploadAppListPicUrl"><i class="fa fa-plus"></i>&nbsp;上传配图</a>
                    <label>&nbsp;&nbsp;请保证图片符合以下条件：1、小于2M 2、JPG、JPEG、PNG格式。</label>
                </div>
            </div>

            <div class="form-group" v-show="nideshopBrand.appListPicUrl">
                <label class="col-sm-3 control-label">当前列表配图：</label>
                <div class="col-sm-8">
                    <input type="hidden" v-model="nideshopBrand.appListPicUrl" />
                    <img :src="nideshopBrand.appListPicUrl" width="350px;" height="180px;"/>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-2 control-label">是否首页推荐</div>
                <label class="radio-inline">
                    <input type="radio" name="isNew" value="0" v-model="nideshopBrand.isNew"/> 禁用
                </label>
                <label class="radio-inline">
                    <input type="radio" name="isNew" value="1" v-model="nideshopBrand.isNew"/> 推荐
                </label>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
            </div>
        </form>
    </div>

    <div id="showImage" style="display: none;padding:10px;">
        <img :src="tempImageUrl" width="500px;" height="240px;"/>
    </div>
</div>
<script src="${request.contextPath}/statics/js/modules/shop/nideshopbrand.js?_${.now?long}"></script>
</body>
</html>