<!DOCTYPE html>
<html>
<head>
    <title></title>
		<#include "/header.html">
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
			<#if shiro.hasPermission("shop:nideshoptopic:save")>
            <a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			</#if>
			<#if shiro.hasPermission("shop:nideshoptopic:update")>
            <a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			</#if>
			<#if shiro.hasPermission("shop:nideshoptopic:delete")>
            <a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
			</#if>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-2 control-label">活动标题</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="nideshopTopic.title" placeholder="活动标题"/>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-2 control-label">活动摘要</div>
                <div class="col-sm-10">
                    <textarea class="form-control" rows="3" v-model="nideshopTopic.subtitle" placeholder="活动摘要说明"></textarea>
                </div>
            </div>



            <div class="form-group">
                <input id="content" name="content" v-model="nideshopTopic.content" type="hidden">
                <div class="col-sm-2 control-label">活动内容</div>
                <div class="col-sm-10">
                    <div class="ibox-content no-padding">
                        <div id="content_sn" class="summernote"></div>
                    </div>
                </div>
            </div>


            <div class="form-group">
                <label class="col-sm-3 control-label">活动配图：</label>
                <div class="col-sm-8">
                    <a class="btn btn-primary" id="upload"><i class="fa fa-plus"></i>&nbsp;{{uploadTitle}}</a>
                    <label>&nbsp;&nbsp;请保证图片符合以下条件：1、小于2M 2、JPG、JPEG、PNG格式。</label>
                </div>
            </div>
            <div class="form-group" v-show="nideshopTopic.scenePicUrl">
                <label class="col-sm-3 control-label">当前配图：</label>
                <div class="col-sm-8">
                    <input type="hidden" v-model="nideshopTopic.scenePicUrl" />
                    <img :src="nideshopTopic.scenePicUrl" width="250px;" height="250px;"/>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-2 control-label">开始时间</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control content cursor-pointer" id="start_time" v-model="nideshopTopic.startTime" readonly="readonly" style="width: 250px;"/>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-2 control-label">结束时间</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control content cursor-pointer" id="end_time" v-model="nideshopTopic.endTime" readonly="readonly" style="width: 250px;"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
            </div>
        </form>
    </div>
</div>

<script src="${request.contextPath}/statics/js/modules/shop/nideshoptopic.js?_${.now?long}"></script>
</body>
</html>