<!DOCTYPE html>
<html>
<head>
    <title></title>
		<#include "/header.html">

</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
			<#if shiro.hasPermission("shop:nideshopad:save")>
            <a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增广告</a>
			</#if>
			<#if shiro.hasPermission("shop:nideshopad:delete")>
            <a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
			</#if>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

<div v-show="!showList" class="panel panel-default">
    <div class="panel-heading">{{title}}</div>
    <form class="form-horizontal">
        <div class="form-group">
            <div class="col-sm-2 control-label">广告名称</div>
            <div class="col-sm-10">
                <input type="text" class="form-control" v-model="nideshopAd.name" placeholder=""/>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-2 control-label">广告摘要</div>
            <div class="col-sm-10">
                <textarea class="form-control" rows="3" v-model="nideshopAd.content" placeholder="广告摘要说明"></textarea>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">广告配图：</label>
            <div class="col-sm-8">
                <a class="btn btn-primary" id="upload"><i class="fa fa-plus"></i>&nbsp;{{uploadTitle}}</a>
                <label>&nbsp;&nbsp;请保证图片符合以下条件：1、小于2M 2、JPG、JPEG、PNG格式。</label>
            </div>
        </div>

        <div class="form-group" v-show="bannerUrl">
            <label class="col-sm-3 control-label">当前配图：</label>
            <div class="col-sm-8">
                <input type="hidden" v-model="nideshopAd.link" />
                <img :src="bannerUrl" width="250px;" height="250px;"/>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-2 control-label">跳转方式</div>
            <label class="radio-inline">
                <input type="radio" name="linkType"  value="goods"/> 产品
            </label>
            <label class="radio-inline">
                <input type="radio" name="linkType"  value="topic"/> 活动
            </label>
        </div>

        <div class="form-group" v-show="linkType=='goods'">
            <div class="col-sm-2 control-label">选择产品</div>
            <div class="col-sm-10">
                <input type="text" class="form-control" v-model="nideshopAd.goodsName" @click="goodsTree" readonly="readonly" placeholder="选择产品"/>
            </div>
        </div>

        <div class="form-group" v-show="linkType=='topic'">
            <div class="col-sm-2 control-label">选择活动</div>
            <div class="col-sm-10">
                <input type="hidden" v-model="linkId" />
                <input type="text" class="form-control" id="topicInput" name="topicName" placeholder="请输入活动名称"
                       autocomplete="off" data-provide="typeahead" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-2 control-label">开始时间</div>
            <div class="col-sm-10">
                <input type="text" class="form-control content cursor-pointer" id="start_time" readonly="readonly" style="width: 250px;"/>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-2 control-label">结束时间</div>
            <div class="col-sm-10">
                <input type="text" class="form-control content cursor-pointer" id="end_time"  readonly="readonly" style="width: 250px;"/>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-2 control-label">是否启用</div>
            <label class="radio-inline">
                <input type="radio" name="status" value="1" v-model="nideshopAd.enabled"/> 正常
            </label>
            <label class="radio-inline">
                <input type="radio" name="status" value="0" v-model="nideshopAd.enabled"/> 禁用
            </label>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label"></div>
            <input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
            &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
        </div>
    </form>
</div>

<!-- 选择部门 -->
<div id="deptLayer" style="display: none;padding:10px;">
    <ul id="deptTree" class="ztree"></ul>
</div>

<div id="showImage" style="display: none;padding:10px;">
    <img :src="tempImageUrl" width="500px;" height="240px;"/>
</div>
<script src="${request.contextPath}/statics/js/modules/shop/nideshopad.js?_${.now?long}"></script>
</body>
</html>